Source: ros-humble-omni-base-laser-sensors
Section: misc
Priority: optional
Maintainer: "Antonio Brandi" <antonio.brandi@pal-robotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-humble-ament-cmake-auto, ros-humble-ament-lint-auto <!nocheck>, ros-humble-ament-lint-common <!nocheck>, ros-humble-ros-workspace
Homepage: https://index.ros.org/p/omni_base_laser_sensors/#humble
Standards-Version: 3.9.2

Package: ros-humble-omni-base-laser-sensors
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-ament-index-python, ros-humble-diagnostic-aggregator, ros-humble-ros-workspace
Description: omni_base-specific laser sensors launch and config files.
